*.py[cod]
__pycache__

*.mp[34]
*.m4a

*.pkl
.env
.ropeproject

.python-version

cookie.txt

*.egg-info
dist
build
.eggs
*.egg
pip-wheel-metadata
*.log

cookie.txt
.coverage*
.pytest_cache

.quizzer
quizzer.toml

next_steps.md
.DS_Store
.vscode
.idea
*.iml
*.iws
out/

.envrc
.codexenv-local
sandbox/

coverage.xml
